# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Dataset
New Plant Diseases Dataset(Augmented)/
test/

cnn_model.keras
resnet50_final.keras